<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/shared.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
</head>

<body>
    <span class="text-sm text-gray-500">Prihlásiť sa</span>
    <form class="flex flex-col px-4">
        <input type="email" placeholder="Email"
            class="w-full my-2 rounded-sm p-0.5 focus:outline-none focus:bg-gray-50 border-b border-grey-light"
            id="input-email">
        <input type="password" placeholder="Heslo"
            class="w-full rounded-sm p-0.5 focus:outline-none focus:bg-gray-50 border-b border-grey-light"
            id="input-password">
        <input type="submit" value="Prihlásiť sa"
            class="block m-auto rounded-md cursor-pointer p-0.5 px-10 bg-green-500 text-white mt-2 hover:bg-green-600"
            id="input-submit">
        <span class="text-xs text-gray-500 mt-2">Nemáte účet? <a href="./pages/register_page.html"
                class="text-blue-400 hover:text-blue-500">Zaregistrujte sa</a></span>
        <a href="./admin_login_page.html" class="text-blue-400 text-xs mt-1 hover:text-blue-500">Admin panel</a>
    </form>
</body>
</html>