<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../resources/css/shared.css" />
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Document</title>
    </head>
    <body>
        <div class="relative text-gray-500 text-center font-semibold block p-2 text-sm rounded-md" id="menu-item-0">
            Meno Priezvisko
            <div class="flex justify-center gap-4 sm:block mt-4">
                <a href="#" class="block text-center w-full rounded-md p-0.5 bg-green-500 text-white mt-2 hover:bg-green-600">
                    Môj účet
                </a>
                <a href="#"
                    class="block text-center w-full rounded-md p-0.5 bg-gray-500 text-white mt-2 hover:bg-gray-600">
                    Odhlásiť sa
                </a>
            </div>
        </div>
    </body>
</html>