<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../resources/css/shared.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>Document</title>
    </head>
    <body class="flex justify-center py-20">
        <article class="bg-white rounded-md pb-4 drop-shadow-md w-48 text-center hover:drop-shadow-xl">
            <a href="./pages/product_detail_page.html">
                <img class="object-cover object-center bg-gray-200 rounded-t-md h-48 w-48 hover:cursor-pointer"
                    src="./resources/photos/products/camera.jpg" alt="placeholder">
            </a>
            <h4 class="text-center font-medium p-2 truncate" title="Názov produktuuuyyyyyyyyyyyyyyyyyy">Názov produktuuuyyyyyyyyyyyyyyyyyy</h4>
            <div class="flex justify-center gap-2">
                <span class="fa fa-star text-yellow-500"></span>
                <span class="fa fa-star text-yellow-500"></span>
                <span class="fa fa-star text-yellow-500"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
            <p class="mt-2">100€</p>
            <button class="colored-button rounded-md font-semibold py-1 px-14 mt-1 mx-2 text-sm text-white">
                Do košíka
            </button>
        </article>
    </body>
</html>